.car {
  margin: 3rem 1rem;
  background: rgb(20, 21, 27);
  border-radius: 1rem;
  position: relative;
  padding: 0.6rem;
}

.isFeatured {
  position: absolute;
  top: 0.4rem;
  left: 4rem;
  font-size: 0.8rem !important;
  background: orangered;
  padding: 0.2rem;
  z-index: 999;
  color: white;
  border-radius: 0.5rem;
}

@keyframes changeSize {
  0% {
    font-size: 0.8rem;
    padding: 0.2rem;
  }
  50% {
    font-size: 1.2rem;
    padding: 0.25rem;
  }
  100% {
    font-size: 1.6rem;
    padding: 0.28rem;
  }
}

.isFeatured {
  animation: changeSize 0.3s infinite;
}

.images {
  color: rgb(250, 242, 242);
  position: absolute;
  top: 15rem;
  right: 4rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.car-name{
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-name h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.8rem;

}

.car-name h3 {
  font-size: 1.6rem;
  color: white;
  margin-top: 0;
  margin-left: -0.9rem;
}

.car h6 {
  color: gray;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.about-car {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid rgb(241, 231, 231, 0.3);
}

.milage {
  color: white;
  background: orangered;
  padding: 0.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
}

.car a {
  color: white;
  background: red;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.3rem;
  display: inline-block;
  margin: 1rem 4rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.car a:hover {
  background: blue;
}
