.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.login input {
  display: block;
  width: 100%;
  margin: 1rem;
}

.login-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-btn button {
  background: orangered;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
