.news-categories h4 {
  background: orangered;
  display: block;
  color: white;
  text-align: center;
  padding: 0.1rem;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.single-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  background: whitesmoke;
  margin: 0.4rem 0.5rem;
  padding: 0.3rem 0.4rem;
}

.single-category span {
  color: orangered;
}

.about-us {
  background: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.9rem;
}

.about-us h4 {
  font-size: 1.1rem;
}

.about-us h6 {
  color: gray;
  font-size: 1rem;
}

.person {
  display: flex;
  border-top: 0.05px solid rgb(160, 160, 160, 0.3);
  padding-top: 0.8rem;
}

.names h5 {
  margin-bottom: 0;
}

.names span {
  color: orangered;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.app {
  text-align: center;
}
