body {
  margin: 0;
  padding: 0;
}

/* header */
/* navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav button {
  background: transparent;
  outline: none;
  border: none;
}

.nav-icon {
  color: orangered;
  font-size: 2rem;
}

/* menu */
.menu {
  min-height: 100vh;
  background: grey;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  height: 5rem;
}

.menu-header a {
  color: black;
  background: orangered;
  text-decoration: none;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 2rem;
}

.closeMenu-btn {
  color: orangered;
  background: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
}

.menu-links a {
  display: block;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.8rem;
  border-bottom: 1px solid black;
}

.about-vehica-btns {
  padding: 0.8rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.about-vehica-btns button {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.menu-contacts {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-contact-icon {
  color: orangered;
  font-size: 2rem;
  margin: 0.5rem;
}

/* about */
.about-us-intro h2 {
  font-size: 1.8rem;
}

.about-us-intro p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: lightslategray;
}

.mission h4 {
  color: lightslategray;
  text-transform: uppercase;
  font-weight: 800;
}

.mission p {
  color: lightslategray;
  font-size: 1.1rem;
}

.note {
  border-left: 5px rgb(255, 94, 0) solid;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 400;
  color: rgb(143, 140, 140);
}

.forward {
  font-size: 1.2rem;
  color: lightslategray;
}

/* social media links */
.social-media {
  text-align: center;
}

.social-media h5 {
  text-transform: capitalize;
  color: gray;
  font-size: 0.9rem;
}

.social-media a {
  padding-left: 1.6rem;
  color: black;
}

.office {
  position: relative;
}

.ceo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ceo h5 {
  font-size: 5rem;
}

.ceo p {
  color: gray;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 2rem;
}

.ceo-image {
  margin: 0 6rem;
}

.book {
  position: absolute;
  bottom: 1.1rem;
  left: 9rem;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book h5 {
  font-size: 1.2rem;
}

.book a {
  text-decoration: none;
  color: white;
  background: orangered;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.office-image img {
  display: block;
  border-radius: 0.5rem;
  position: absolute;
  top: 2rem;
}

.our-team {
  background: black;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.our-team h2 {
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
  padding-left: 1rem;
}

.our-team p {
  font-size: 1.3rem;
  color: lightgray;
  line-height: 2rem;
  padding: 1.4rem;
}
