@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* header */
/* navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav button {
  background: transparent;
  outline: none;
  border: none;
}

.nav-icon {
  color: orangered;
  font-size: 2rem;
}

/* menu */
.menu {
  min-height: 100vh;
  background: grey;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  height: 5rem;
}

.menu-header a {
  color: black;
  background: orangered;
  text-decoration: none;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 2rem;
}

.closeMenu-btn {
  color: orangered;
  background: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
}

.menu-links a {
  display: block;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.8rem;
  border-bottom: 1px solid black;
}

.about-vehica-btns {
  padding: 0.8rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.about-vehica-btns button {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.menu-contacts {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-contact-icon {
  color: orangered;
  font-size: 2rem;
  margin: 0.5rem;
}

/* about */
.about-intro-image {
  margin: 2rem;
  border-radius: 1rem;
}

.about-us-intro h2 {
  font-size: 1.8rem;
}

.about-us-intro p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: lightslategray;
}

.mission h4 {
  color: lightslategray;
  text-transform: uppercase;
  font-weight: 800;
}

.mission p {
  color: lightslategray;
  font-size: 1.1rem;
}

.note {
  border-left: 5px rgb(255, 94, 0) solid;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 400;
  color: rgb(143, 140, 140);
}

.forward {
  font-size: 1.2rem;
  color: lightslategray;
}

/* social media links */
.social-media {
  text-align: center;
}

.social-media h5 {
  text-transform: capitalize;
  color: gray;
  font-size: 0.9rem;
}

.social-media a {
  padding-left: 1.6rem;
  color: black;
}

.office {
  position: relative;
}

.ceo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ceo h5 {
  font-size: 5rem;
}

.ceo p {
  color: gray;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 2rem;
}

.ceo-image {
  margin: 0 6rem;
}

.book {
  position: absolute;
  bottom: 1.1rem;
  left: 9rem;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book h5 {
  font-size: 1.2rem;
}

.book a {
  text-decoration: none;
  color: white;
  background: orangered;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.office-image img {
  display: block;
  border-radius: 0.5rem;
  position: absolute;
  top: 2rem;
}

.our-team {
  background: black;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.our-team h2 {
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
  padding-left: 1rem;
}

.our-team p {
  font-size: 1.3rem;
  color: lightgray;
  line-height: 2rem;
  padding: 1.4rem;
}

.single-member {
  text-align: center;
  background: white;
  border-radius: 1rem;
  color: black;
  margin: 1.3rem;
  position: relative;
}

.personal-details {
  margin-left: -8rem;
}

.single-member h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.single-member h4 {
  color: gray;
  text-transform: capitalize;
  font-weight: 200;
}

.team-social-media a {
  color: black;
  margin-left: 0.5rem;
}

.email-link {
  background-color: orangered;
  color: white;
  font-size: 1.6rem;
  position: absolute;
  left: 30%;
  top: 57.12%;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.team-email {
  display: block;
  color: orangered;
  margin: 2rem 0 2rem 0;
  font-size: 1.1rem;
}

/* frequently asked questions */
.frequent-questions {
  background: rgb(234, 243, 248);
  padding: 3rem;
}

.frequent-questions h2 {
  font-size: 3rem;
  text-align: center;
}

.frequent-questions a {
  text-decoration: none;
  color: white;
  background: orangered;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
}

.single-qtn {
  margin: 2rem 3rem;
  border: 1px solid orangered;
  border-radius: 1rem;
  padding: 1rem;
  line-height: 1.8rem;
}

.qtn-top {
  display: flex;
  background: white;
  justify-content: space-between;
  padding: 1rem;
}

.qtn-top button {
  outline: none;
  background: transparent;
  color: #333;
  font-size: 2rem;
  border: none;
}

.answer {
  border-top: 1px solid orangered;
  padding: 1rem;
  background: white;
}

/* meet our team */
.hero {
  display: grid;
}

.hero-content {
  grid-area: 1/1;
  position: relative;
  place-items: center;
  display: grid;
  background: rgb(34, 27, 27, 0.5);
}

.hero-content h2 {
  color: white;
  font-size: 2.1rem;
}

.hero-content h2 span {
  color: orangered !important;
}

.hero-content p {
  color: rgb(196, 191, 191);
  margin-bottom: 9rem;
  font-size: 1.2rem;
}

.team-ceo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-ceo h2 {
  background: orangered;
  color: white;
  display: block;
  padding: 0.8rem;
  width: 80%;
  text-align: center;
  margin: 2rem 5rem 0 0 5rem;
}

.team-ceo span {
  color: orangered;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.team-ceo p {
  color: #333;
}

.more-about {
  font-size: 2.1rem;
}

.m {
  color: orangered !important;
}

/* how to buy */
.buying-steps p {
  color: #333;
  font-size: 1.2rem;
}

.step-number {
  display: flex;
}

.step-number button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
  line-height: 2.3rem;
}

.steps {
  border: 0.001px solid #333;
  margin: 1.2rem;
  padding: 0.4rem;
  color: rgb(75, 73, 73);
}

.buying-steps h5 {
  font-size: 1.5rem;
}

/* search */
.search-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  padding: 1.5rem;
}

.search-title h5 {
  color: gray;
}

/* car */
